<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="{{ "/css/styles.css" | prepend: site.baseurl }}" media="screen">

  </head>
  <body>
    <div id="outer-container">
      {% include header.html %}

      <div class="container">
        <div class="announcement">
          <a href="/2015/04/01/cancelling-the-conference.html">The conference has been cancelled.</a>
        </div>

        <section id="main_content">
          {{ content }}
        </section>
      </div>

      {% include footer.html %}
    </div>
      {% include scripts.html %}
  </body>
</html>
